<footer>
  <div class="pull-left">
    <a class="icon-link" href="https://twitter.com/intent/tweet?screen_name=excid3&text=I'm%20going%20to%20do%20something%20that%20scares%20me." data-related="excid3">
      Do things that scare you.
      <%= fa_icon 'heart' %>
    </a>
  </div>
  <div class="pull-right">
    <a href="https://twitter.com/excid3" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @excid3</a>
    <a href="https://twitter.com/intent/tweet?screen_name=excid3" class="twitter-mention-button" data-related="excid3">Tweet to @excid3</a>
  </div>
</footer>
