<h3>About FeedForward.io</h3>
<p>Our goal is to link to <b>only</b> the most interesting articles that we come across. They should inspire you, challenge you, and encourage you.<p>
<p><b>We want every article to create discussions.</b></p>
<p><%= link_to "http://feeds.feedburner.com/FeedForwardio", class: "btn btn-large btn-danger" do %>Subscribe to our RSS Feed <i class="icon-rss"></i><% end %></p>
