<% content_for :right_nav do %>
  <li><p class="navbar-btn"><%= link_to 'Submit A Link', new_link_path, class: "btn btn-default" %></p></li>
<% end %>

<h1 class="recommended text-center">Recommended Business And Startup Links</h1>

<%= render @links %>
