<%= render "form" if user_signed_in? %>

<div class="row">
  <div class="span8">
    <% @links.each do |link| %>
      <%= render partial: "link", locals: {link: link} %>
    <% end %>

    <%= will_paginate @links, renderer: BootstrapPagination::Rails %>
  </div>

  <div class="span4">
    <%= render "about" %>
  </div>
</div>
