/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

$brand-primary: #E74C3C;
$font-family-sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-default-bg: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
}

footer {
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  font-size: 14px;
  font-weight: 800;
  height: 70px;
  line-height: 70px;
  margin: 70px 0px 0px 0px;
  padding: 0px 20px;
  text-transform: uppercase;

  a.icon-link {
    color: #4F8EF7;
  }
}

