body {
  font-family: "proxima-nova", sans-serif;
  @media (min-width: 980px) { margin-top: 90px; }
}

input[type="file"] { line-height: normal; }

.well { box-shadow:none !important; }

.field_with_errors {
  input, textarea { border: 1px solid red; }
}

.navbar .brand, .navbar .nav > li > a  {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  .inline { display: inline; }
}

.link {
  font-size: 1.2em;
  word-wrap: break-word;

  a {
    small {
      color: #444;
      font-size: 0.8em;
    }
  }

  .details {
    color: #888;
    float: right;
    font-size: 0.7em;
  }

  .hits {
    margin-left: 6px;
  }

  .link-actions {
    float: right;
    display: none;
  }

  &:hover {
    .link-actions { display: block; }
  }
}

.input-background {
  position: relative;
  display: inline-block;

  @media (max-width: 767px) { display: block; }

  input { padding-right: 26px; }

  i {
    position: absolute;
    right: 10px;
    top: 5px;
    pointer-events: none;
  }
}

.new-link {
  @media (max-width: 767px) { text-align: right; }
  @media (min-width: 768px) { text-align: center; }
  input[type="submit"] { margin-bottom: 10px; }
}

.about {
  max-width: 278px;
}

.btn-min-width {
  min-width: 240px;
}

.contributor {
  position: relative;
  margin-left: 20px;
  padding-left: 80px;
  min-height: 80px;

  img {
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.badge {
  font-weight: normal;

  a { color: white; }
}
