h1.recommended {
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
}

.recommended-link {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;

  &:hover {
    background: #f7f7fa;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.8em;

    a {
      color: #444;
    }
  }

  .submitted-by {
    color: #aaa;
  }
  .description {
    color: #333;
    font-weight: 300;
    font-size: 1.5em;
  }

  .votes {
    font-size: 1.25em;
    margin-top: 1em;
  }
}
