body {
  font-family: "proxima-nova", sans-serif;
  @media (min-width: 980px) { margin-top: 90px; }
}

input[type="file"] { line-height: normal; }

.center { text-align: center; }

.well { box-shadow:none !important; }

.field_with_errors {
  input, textarea { border: 1px solid red; }
}

.navbar .brand, .navbar .nav > li > a  {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  .inline { display: inline; }
}

.link {
  font-size: 1.2em;
  overflow: hidden;
  word-wrap: break-word;

  a {
    color: #444;
    &:hover { color: #157ab5 }

    small {
      color: #444;
      font-size: 0.8em;
    }
  }

  .details {
    color: #888;
    float: right;
    font-size: 0.7em;
    opacity: .8;
    -webkit-transition: ease-out all 300ms;
    -webkit-transition-delay: 0ms;
    -moz-transition: ease-out all 300ms 0ms;
    -o-transition: ease-out all 300ms 0ms;
    transition: ease-out all 300ms 0ms;

    &:hover {
      opacity: 1;
    }
  }

  .hits {
    margin-left: 6px;
  }

  .link-actions {
    display: none;
  }

  &:hover {
    .link-actions { display: inline-block; }
  }
}

.input-background {
  position: relative;
  display: inline-block;

  @media (max-width: 767px) { display: block; }

  input { padding-right: 26px; }

  i {
    position: absolute;
    right: 10px;
    top: 5px;
    pointer-events: none;
  }
}

.new-link {
  @media (max-width: 767px) { text-align: right; }
  @media (min-width: 768px) { text-align: center; }
  input[type="submit"] { margin-bottom: 10px; }
}

.about { max-width: 278px; }

.btn-min-width { min-width: 240px; }

.contributor {
  position: relative;
  padding-left: 60px;
  min-height: 80px;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.badge, .label {
  font-weight: normal;

  a {
    color: white;
    &:hover { color: white; }
  }
}

.comment {
  position: relative;
  padding-left: 60px;
  min-height: 80px;

  .avatar {
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .body {
    textarea {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      width: 100%;
    }
  }
}

// Phone in portrait
@media (max-width: 480px) {
  .navbar .brand { font-size: 16px; }
  .link .details { float: none; }
}
